<div class="card shadow-sm h-100" style="width: 18rem;">
    <img src="{{produit.image}}" class="card-img-top" alt="{{produit.name}}" style="object-fit: cover; height: 250px;">
    <div class="card-body">
        <h5 class="card-title">{{produit.name}}</h5>
        <p class="card-text">{{produit.description}}</p>
        <p class="card-text fw-bold">Prix : {{produit.price}} €</p>
        <button class="btn btn-primary btn-block w-100" (click)="addToPannier()">
            <i class="bi bi-cart-plus"></i> Ajouter au Panier
        </button>
    </div>
    <div class="card-footer text-center bg-light">
        <a href="{{produit.link}}" class="btn btn-outline-secondary w-100">Plus d'informations</a>
    </div>
</div>
      
    

  